<div class="container rating-form">

  <form class="user-input" ng-model="myForm">

    <div class="form-group question">
      <label for="categorie_visiteur">Vous êtes un</label>
      <select class="form-control" id="categorie_visiteur">
        <option>Piéton / Cycliste</option>
        <option>Plaisancier</option>
      </select>
    </div>

    <div class="question question_satisfait">
      <label for="visite">Êtes-vous satisfait(e) de votre visite ?</label>
      <input id="visite" class="rating" data-min="0" data-max="4" data-step="1" data-size="sm">
    </div>

    <div class="question question_satisfait">
      <label for="accueil">Êtes-vous satisfait(e) de l'accueil offert sur l'île ?</label>
      <input id="accueil" class="rating" data-min="0" data-max="4" data-step="1" data-size="sm">
    </div>

    <div class="question question_satisfait">
      <label for="info">Êtes-vous satisfait(e) des informations disponibles sur l'île ?</label>
      <input id="info" class="rating" data-min="0" data-max="4" data-step="1" data-size="sm">
    </div>

    <div class="question question_satisfait">
      <label for="preservation">Êtes-vous satisfait(e) par la préservation de l'île ?</label>
      <input id="preservation" class="rating" data-min="0" data-max="4" data-step="1" data-size="sm">
    </div>

    <div class="question question_satisfait">
      <label for="reglementation">Êtes-vous satisfait(e) par la réglementation de l'île ?</label>
      <input id="reglementation" class="rating" data-min="0" data-max="4" data-step="1" data-size="sm">
    </div>

    <div class="question question_derangeant">
      <label for="frequentation">Avez-vous trouvé dérangeant le nombre de personnes sur l'île ?</label>
      <input id="frequentation" class="rating" data-min="0" data-max="4" data-step="1" data-size="sm">
    </div>

  </form>

  <div id="submit">
    <button class="btn btn-lg btn-success" ng-click="sendOpinion()">Envoyer mon avis</button>
  </div>

</div>
