<div class="container rating-form">

  <form class="user-input" ng-model="myForm">

    <div class="form-group question">
      <label for="raison_venue">Quelle est la raison de votre venue ?</label>
      <select class="form-control" id="raison_venue">
        <option>Farniente</option>
        <option>Plage</option>
        <option>Se mettre une grosse frappe</option>
        <option>La réponse D</option>
      </select>
    </div>

    <div class="question">
      <label for="proprete_ile">Êtes-vous satisfait par la propreté de l'île ?</label>
      <input id="proprete_ile" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

    <div class="question">
      <label for="tranquilite_ile">Êtes-vous satisfait par la tranquilité de l'île ?</label>
      <input id="tranquilite_ile" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

    <div class="question">
      <label for="services_ile">Êtes-vous satisfait par les services de l'île ?</label>
      <input id="services_ile" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

    <div class="question">
      <label for="beaute_ile">Êtes-vous satisfait par la beauté de l'île ?</label>
      <input id="beaute_ile" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

  </form>

  <div id="submit">
    <button class="btn btn-lg btn-success" ng-click="sendOpinion()">Envoyer mon avis</button>
  </div>

</div>
