<div class="container rating-form">

  <form class="user-input">

    <div class="form-group question">
      <label for="sel1">Quelle est la raison de votre venue ?</label>
      <select class="form-control" id="sel1">
        <option>Farniente</option>
        <option>Plage</option>
        <option>Se mettre une grosse frappe</option>
        <option>La réponse D</option>
      </select>
    </div>

    <div class="question">
      <label>Êtes-vous satisfait par la propreté de l'île ?</label>
      <input id="rating-1" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

    <div class="question">
      <label>Êtes-vous satisfait par la tranquilité de l'île ?</label>
      <input id="rating-2" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

    <div class="question">
      <label>Êtes-vous satisfait par les services de l'île ?</label>
      <input id="rating-3" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

    <div class="question">
      <label>Êtes-vous satisfait par la beauté de l'île ?</label>
      <input id="rating-4" class="rating" data-min="0" data-max="5" data-step="1" data-size="sm">
    </div>

  </form>

  <div id="submit">
    <button class="btn btn-lg btn-success" ng-click="sendOpinion()">Envoyer mon avis</button>
  </div>

</div>
